.jumbotron {
    padding: 20%;
    color: white;
    height: 600px;
    background-image: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") 

}

.heading {
    background-color: black; 
    padding: 5%; 
    margin-top: 10%;
    border-radius: 50%; 
    text-align: center;
}

.heading h1 {
    font-size: 64px;
}

h1 {
    font-size: 72px;
    color: white;
    text-align: center;
}

.container iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container h1 {
    color: grey;
}

.container p {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  font-size: 16px;
}

.aboutme {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    margin-top: 5%;
    padding: 10%;
}

#aboutme1 {
    color:black;
    font-size: 48px;
}

.aboutme h1 {
  padding: 2%;
}

.contact {
    padding: 5%;
    margin-top: 5%;

    color: #000;
    text-align: center;
    border: 1px solid grey;
    border-radius: 25%;
    font-style: italic;
}

.contact h1 {
    color: #000;
    padding: 5%;
}

.contact p {
    padding: 0;
}


.aboutme p {
    font-size: 20px;
    text-align: left;
}

.projectpage {
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    overflow: hidden;
    background-color: #000;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 0.1rem solid black;
  }
  
  .topnav a:hover {
    border: 0.1rem solid white;
    text-decoration: none;
    color: white;
  }
  
  .topnav-right {
    float: right;

  }

  .iconcircles {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    background-color: lightgray;
    display: inline-block;
  }

  .col-sm {
      text-align: center;
  }

  .col-sm img {
      margin: 17%;
  }

  #resume h1 {
      margin-top: 5%;
      font-size: 64px;
  }

